* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
h3,
h4 {
  font-weight: 400;
  color: (100, 100, 100);
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}
.App {
  transition: all 0.5s ease;
}
.lib-active {
  margin-left: 30%;
}

//Partials
@import "./components/player/player";
@import "./components/songs/songs";
@import "./components/Lib/Library.scss";
@import "./components/Nav/nav";
